<!-- <div class="subjects index">
	<h2>Users</h2>

	<%= link_to("Add New User", '#', :class => 'action new') %>

	<table class="listing" summary="User List">
		<tr class="header">
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>

		<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email %></td>
			<td class="actions">
				<%= link_to("Show", user_path(user), :class => 'action show') %>
				<%= link_to("Edit", '#', :class => 'action show') %>
				<%= link_to("Delete", '#', :class => 'action show') %>
			</td>
		</tr>
		<% end %>
	</table>
</div> -->


<div id="nav-container">
		<nav>
			<h1>Dashboard App</h1>
			<ul id="main-nav">
				<li><a href="">Dashboard</a></li>
				<li><a href="">Profile</a></li>
			</ul>
			<ul id="session-nav">
				<li><a href="/logout">Log off</a></li>
			</ul>
		</nav>
	</div>


<div class="jumbotron">
	<div class="container">
		<h2 class="salutation">Howdy,!</h2>
		<div class="mytable admins">
		<a href="" class="btn btn-default add">Add New User</a>	
		<div class="clr"></div>
				<table cellspaceing="0" cellpadding="0" width="100%" border="0" align="center">
					<tr>
						<!-- <th></th> -->
						<th colspan="2">First Name</th>
						<th>Last Name</th>
						<th>Actions</th>
					</tr>

				<% @users.each do |user|%>
					<!-- Follow this sample row below for displaying each Reps' clients -->
					<tr><td colspan="4" height="10"></td></tr> 
					<tr style="border-top:1px solid rgba(41,178,123, 0.2);"><td colspan="4" height="11"></td></tr> <!-- Make sure this empty row is included -->
					<tr>
						<td width="245" valign="middle" class="td-division"><a href=""><%= user.first_name %></a></td>
	                	<td width="280" valign="middle" class="td-division"><a href=""><%= user.last_name %></a> <a href="mailto:<%= user.email %>"><%= user.email %></a></td>
	    				<td align="center" valign="middle" class="td-division date-time">
	    				<td class="actions">
							<%= link_to("Show", user_path(user), :class => 'action show') %>
							<%= link_to("Edit", '#', :class => 'action show') %>
							<%= link_to("Delete", '#', :class => 'action show') %>
						</td>	

	    				</td>
  					</tr>
					<tr style="border-bottom:1px solid rgba(41,178,123, 0.2);"><td colspan="4" height="11"></td></tr> 

				<% end %>
				</table>	
			</div>
	</div>
</div>

<!-- <script type="text/javascript">
	$('#modal').on('shown.bs.modal', function () {
  	// $('#myInput').focus()
})
</script> -->